.add-product {
    display: flex;
    max-width: 100%;
    padding: 0 1.7rem 1.5rem 1.7rem;
    box-shadow: 0 0 7px 4px rgb(19, 23, 128);
    background-color: #272fa0;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    word-wrap: break-word
}


