<%- include('includes/head.ejs')%>
<link rel='stylesheet' href='/css/product.css' />
<link rel='stylesheet' href='/css/data.css' />
<script> var varNumber = localStorage.getItem("mykey");
console.log(varNumber) 
</script>
</head>

<body>
    <%- include('includes/navigation.ejs')%>
    <main>
        <div class="data">
            <div class="data-style">
                <div>
                    <h1>Logando informações</h1>
                </div>
            </div>
            <% if (dados != '') { %>
                <div class="data-style-logs">
                    <% for( let index of dados) { %>
                        <div class="data-style-logs_items">
                            <div class='data-style_div' >
                                <p><%= index %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <div class="data-style-logs_error">
                    <p>Nada a mostrar, ainda...</p>
                </div>
                <% } %>
            </div>
        </div>
    </main>
</body>

</html>