.Counter {
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    background-color: #2a9e51;
    border-radius: 6px;
    padding-bottom: 30px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.CounterUp {
    background-color: #0c2214;
}

.CounterDown {
    background-color: #312512;
}