.item-cardapio {
    display: flex;
    justify-content: space-between;
    align-items: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 0.7rem 0.5rem;
    border-radius: 12px;
    height: 50px;
    background-color: rgb(88, 88, 88);
    flex-shrink: inherit;
}
  
.item-cardapio__descricao {
display: flex;
flex-direction: row;
gap: 1rem;
align-items: flex-start;
flex: 1;
}

.item-cardapio h2 {
color: #3a3a3a;
font-size: 0.5rem;
margin: 0 1rem;
color: white;
}

@media (min-width: 580px) {
    .item-cardapio__descricao {
    align-items: center;
    justify-content: left;
    flex: 1;
    }

    .item-cardapio__descricao h2 {
    font-size: 1rem;
    }
}
