.novos-cardapio {
    background-color: #2a9e51;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
  
.novos-cardapio button {
font: inherit;
cursor: pointer;
padding: 1rem 2rem;
border: 1px solid #40005d;
background-color: #40005d;
border: 1px solid black;
color: white;
border-radius: 12px;
margin-right: 1rem;
}

.novos-cardapio button:hover,
.novos-cardapio button:active {
background-color: #510674;
border-color: white;
}

.novos-cardapio button.alternative {
color: #220131;
border-color: transparent;
background-color: transparent;
}

.novos-cardapio button.alternative:hover,
.novos-cardapio button.alternative:active {
background-color: #ddb3f8;
border-color: white;
}