.cardapio-filtro {
    display: flex;
    color: white;
    padding: 0 1rem;
}

.cardapio-filtro__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
    
.cardapio-filtro label {
font-weight: bold;
margin-bottom: 0.5rem;
}

.cardapio-filtro select {
font: inherit;
padding: 0.5rem 3rem;
font-weight: bold;
border-radius: 6px;
}